<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>


      <%= flash[:notice] %>

<table border = "2">

 <tr>
 	<TD> First Name</TD>
 	<TD> Last Name </TD>
 	<TD> Email </TD>
 	<TD> User Name </TD>
 	<TD> DateofBirth </TD>

 </tr>

<% @users.each do |user| %>

<tr>

	<TD> <%= user.first_name%> </TD>
	<TD> <%= user.last_name %> </TD>
	<TD> <%= user.email%> </TD>
	<TD> <%= user.username%> </TD>
	<TD> <%= user.dateofbirth%> </TD>


</tr>
<%end%>


 </table>
      