<h1>Users#now</h1>
<p>Find me in app/views/users/new.html.erb</p>
<%=session['Baru']%>

<% if @user.errors.any? %>

 <div id="Error Explanation">

 <h2>

 

<%= pluralize(@user.errors.count, "error") %> 

 </h2>

 <ul>

 

<% @user.errors.full_messages.each do |msg| %>

 <li><%= msg %></li>

 <% end %>

 </ul>

 </div>

<% end %>


<%= form_for @user do |f| %>

 Name: <%= f.text_field :first_name %>

 Last Name : <%= f.text_field :last_name %>

 Email : <%= f.text_field :email %>

 Password : <%= f.password_field :password %>
 
 DateBirth : <%= f.date_field :dateofbirth %>

 Age : <%= f.number_field :age %>

 <%=f.submit :create%>

	<%= link_to "Back to Index", "/users", :class => "new-article" %>

<%= image_tag '1.jpg', :class => "image", :alt => 'pictures', :width => 200 %>


<%= raw(list_categories) %>



<% end %>
