<h1>Products#now</h1>
<p>Find me in app/views/products/now.html.erb</p>
<%=session['Baru']%>

<%= form_for @product do |f| %>

 Name: <%= f.text_field :name %>

 Price : <%= f.text_field :price %>

 Stock : <%= f.text_field :stock %>

 Description : <%= f.text_area :description %>

 <%=f.submit :create%>

	<%= link_to "Back to Index", "/products", :class => "new-article" %>

<%= image_tag '1.jpg', :class => "image", :alt => 'pictures', :width => 200 %>


<%= raw(list_categories) %>



<% end %>
